body
{
  background-image: url(img/4.jpg);
}
#conteiner
{
   
    width: 1000px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color: greenyellow;
    margin-top: 20px;
    letter-spacing: 3px;
    font-family: 'Whisper', cursive;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}
#footer
{
    width: 200px;
    background-color: aqua;
    color: blue;
    text-align: center;
}
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 100;
}
#nav
{
    background-color: aliceblue;
    width: 100;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
    height: 40px;
}